/unit10/index.html
/unit12/index.html
/unit12/connect-four-oo/connect4-copy.js
/unit18/python-ds-practice/fs_1_is_odd_string
/unit18/python-ds-practice/fs_2_is_valid_parentheses
/unit18/python-ds-practice/fs_3_three_odd_numbers
/unit18/python-ds-practice/fs_4_reverse_vowels
/unit18/python-ds-practice/fs_5_read_file_list
**/__pycache__
**/venv
/unit19/flask-boggle/templates/test.html