{% extends './base.html' %}

{% block content %}

<h2>{{ tag.name }}</h2>

<div class="posts-list">
  <ul>
    {% for post in tag.posts %}
        <li>
          <a href="/posts/{{ post.id }}">
            {{ post.title }}
          </a>
        </li>
    {% endfor %}
  </ul>
</div>

<a href="/tags/{{ tag.id }}/edit">
  <button class="edit-btn">Edit</button>
</a>

<form action="/tags/{{ tag.id }}/delete" method="POST">
  <button class="delete-btn">
    Delete
  </button>
</form>


{% endblock %}