{% extends 'base.html' %}

{% block content %}

<h1>Pets</h1>

<div class="row row-cols-4">

  {% for pet in pets %}
      <div class="col">
        <a href="/{{ pet.id }}">
          <img src="{{ pet.photo_url }}" class="img-thumbnail">
        </a>

        <p>
          {{ pet.name }} is 
          {% if pet.available %}
            <span class="fw-bold">available</span>!
          {% else %}
            not available!
          {% endif %}
        </p>
      </div>
  {% endfor %}
</div>

<a class="btn btn-secondary" href="/add" role="button">Add a Pet</a>

{% endblock %}