@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

.container {
  margin: 0 auto;
  width: 500px;
  border: 1px solid #b8b7b4;
  border-radius: 5px;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

h1 {
  margin: 30px 0;
}

h2 {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

.list-container {
  margin: 15px 0 15px 140px;
}

li {
  margin: 5px 0;
}

button {
  margin-top: 15px;
  display: block;
  border: none;
  border-radius: 5px;
  width: 130px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.add-btn {
  margin-top: 5px;
  margin-left: 130px;
  /* background-color: green; */
  text-decoration: none;
}

.add-btn a,
.edit-btn a {
  color: #fff;
}

.edit-btn, .post-btn {
  background-color: dodgerblue;
}

.delete-btn {
  background-color: red;
}

.add-btn,
.save-btn {
  background-color: green;
}

.cancel-btn {
  border: 1px solid red;
  color: #000;
}

form p {
  margin: 10px 0;
}

input {
  border: none;
  height: 30px;
  width: 200px;
  padding: 10px;
  margin-left: 20px;
  background-color: #e8e7e6;
  border-radius: 3px;
  outline: none;
}

.details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
}

.posts-container {
  margin: 20px 0 5px 50px;
  padding: 20px;
}

.posts-list {
  margin-top: 15px;
  margin-left: 15px;
}

.post-content,
.post-author {
  margin: 25px 0 30px 20px;
}

.post-author {
  font-style: italic;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px;
}

.notification {
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  width: 600px;
}

.tags-row-container {
  margin-left: 20px;
  display: flex;
  gap: 10px;

}

.tags-row-container span {
  font-weight: bold;
}

.tag-row li {
  display: inline;
  border-radius: 5px;
  background-color: dodgerblue;
  padding: 4px;
}

.tag-row li a {
  color: #fff;
}
