<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs</title>
</head>
<body>
    <h1>Madlibs</h1>

    <form action="/story">
        {% for prompt in prompts %}
            <label>
                {{ prompt }}:
                <input type="text" name="{{ prompt }}">
            </label>
            <br />
        {% endfor %}
        <button>submit</button>
    </form>
</body>
</html>