{% extends 'base.html' %}

{% block content %}

<h2>Edit Post</h2>

<form method="POST">
  <p>
    Title:
    <input type="text" name="title" value="{{ post.title }}">
  </p>
  <p>
    Content:
    <textarea name="content" cols="30" rows="5">{{ post.content }}</textarea>
  </p>

  <div class="tags-check-boxes">
    Tags:
      {% for tag in tags %}
          <input 
            type="checkbox" 
            name="tags"
            id="tag_{{ tag.id }}"
            value="{{ tag.id }}"
            {{ "checked" if tag in post.tags }}
          >
          <label for="tag_{{ tag.id }}">{{ tag.name }}</label>
      {% endfor %}
  </div>

  <button class="edit-btn">Edit</button>
</form>

<a href="/users/{{ post.user.id }}">
  <button class="cancel-btn">Cancel</button>
</a>

{% endblock %}