{% extends './base.html' %}

{% block content %}

<div class="my-5">
  <h2>Login User</h2>

  <p class="lead">
    Login Below. Don't have an account?
    <a href="/register" class="text-decoration-none">
      Register here
    </a>
  </p>
</div>

<form method="POST">
  <div class="row mb-2 w-25">
    {{ form.hidden_tag() }}

    {% for field in form
        if field.widget.input_type != 'hidden' %}
          <p>
            {{ field.label }}
            {{ field(class_="form-control") }}

            {% for error in field.errors %}
              {{ error }}
            {% endfor %}
          </p>
    {% endfor %}
  </div>

  <button class="btn btn-success" type="submit">Login</button>

</form>

{% endblock %}