{% extends './base.html' %}

{% block content %}

<h2 class="my-4">User Info</h2>

<div class="card text-left mt-3" style="width: 20rem;">
  <div class="card-body">
    <h3 class="card-title text-center">{{ user.username }}</h3>

    <ul>
      <li>First Name: {{ user.first_name }}</li>
      <li>Last Name: {{ user.last_name }}</li>
      <li>Email: {{ user.email }}</li>
      <li>id: {{ user.id }}</li>
    </ul>
    
  </div>
</div>

<!-- buttons -->

<div class="d-flex flex-row mt-5 px-2">
  <a href="/logout">
    <button class="btn btn-secondary me-5">Logout</button>
  </a>

  <a href="/users/{{ user.username }}/feedback/add">
    <button class="btn btn-primary me-5">Add Feedback</button>
  </a>

  <form>
    <button 
      type="submit" 
      class="btn btn-danger"
      formmethod="POST"
      formaction="/users/{{ user.username }}/delete"
    >
      Delete account?
    </button>
  </form>
</div>

<!-- feedback list -->

<div class="fdbk-container mt-5">
  <h3>Your Feedback</h3>

  <ul>
    {% for fdbk in user.feedback %}
        <li>
          <a href="/feedback/{{ fdbk.id }}/update" class="text-decoration-none">
            {{ fdbk.title }}
          </a>
        </li>
    {% endfor %}
  </ul>
</div>


{% endblock %}